body{text-align:center}

.page{width:80vw;
    height:100vh;
    border:1px solid rgb(78, 41, 37);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:0 auto;}

nav ul li{display:inline;}
#page1{background:#84766d}
#page2{background:#84766d}
#page3{background:#84766d}
ul{list-style-type:none;}

img{float:right;}

/*RWD*/
/*CSS for responsive menu*/
#hamIcon{display:none;}
@media (max-width:800px){
/*make a menu items vertical*/
nav ul li{display:block;}
/* unhide menu icon */
#hamIcon{display:block;}
/*hide the menu item list*/
nav ul{display:none;}
}
/*to unhide menu items*/
.menuShow{display:block;}
/*Adjust pg2*/
#page2{height:100vh}